.products h2 {
  margin: 2rem auto 1rem auto;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 450px) {
  .products h2 {
    font-size: 1rem;
  }
}
