.cart {
  max-width: 30rem;
  background-color: white;
  color: black;
  animation: appear 0.3s ease-out forwards;
  position: relative;
}

.cartButton {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  border: none;
  color: red;
  background: white;
  padding: 0.2rem 0.5rem;
}
.cartButton:hover {
  background: red;
  color: white;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.cart h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
